{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The big featured header --}}

<section class="author-profile inner">
    <figure class="author-image">
        <div class="img" style="background-image: url(http://kirillzubovsky.com/content/images/2016/09/LIN-photo.jpg)"><span class="hidden">Kirill Zubovsky</span></div>
    </figure>
    <h1 class="author-title">Kirill Zubovsky</h1>
    {{#if bio}}
        <h2 class="author-bio">{{bio}}</h2>
    {{/if}}
    <div class="author-meta">
        <span class="author-location icon-location">Seattle, WA</span>
        <br><br>
        <div style="clear:both;"></div>
        <ul class="author-social-profiles">
          <li><h2 style='font-weight: 400; margin-bottom: 2rem;'><a href="http://waddle.photos" title="Waddle Photos!">waddle.photos</a></h2></li>
        </ul>
        <ul class="author-social-profiles">
          <li><a href='http://kirillzubovsky.com/author/kirill' title='Kirill Zubovsky Blog Posts '>Blog</a></li>
          <li><a href='http://twitter.com/kirillzubovsky' title='Kirill Zubovsky on Twitter'>Twitter</a></li>
          <li><a href='https://www.linkedin.com/in/kirillzubovsky' title='Kirill Zubovsky on LinkedIn'>LinkedIn</a></li>
        </ul>
        <ul class="author-social-profiles">
          <li><a href='https://stackoverflow.com/users/567569/kirill' title='Kirill Zubovsky on Stack Overflow'>Stack Overflow</a></li>
          <li><a href='http://github.com/kirillzubovsky/' title='Kirill Zubovsky on Github'>Github</a></li>
          <li><a href='https://angel.co/kirillzubovsky' title='Kirill Zubovsky on Angel List'>Angel List</a></li>
        </ul>
        <ul class="author-social-profiles">
          <li><a href='https://www.quora.com/profile/Kirill-Zubovsky' title='Kirill Zubovsky on Creative Market'>Quora</a></li>
          <li><a href='https://www.producthunt.com/@kirillzubovsky' title='Kirill Zubovsky on Product Hunt'>Product Hunt</a></li>
          <li><a href='http://instagram.com/kirillzubovsky' title='Kirill Zubovsky on Instagram'>Instagram</a></li>
          <li><a href='https://dribbble.com/kirillzubovsky' title='Kirill Zubovsky on Instagram'>Dribbble</a></li>
        </ul>
        <ul class="author-social-profiles">
          <li><a href='http://ts.la/kirill7313' title='Get $1000 off your new Tesla. Buy Tesla here'>Tesla</a></li>
          <li><a href='https://creativemarket.com/kirill' title='Kirill Zubovsky on Creative Market'>Creative Market</a></li>
          <li><a href='https://www.airbnb.com/c/kzubovsky' title='Get free Airbnb travel credit'>Airbnb</a></li>
          <li><a href='https://www.crowdcow.com/l/u8btb0w1q' title='Get free grass fed beef from Crowd Cow'>CrowdCow</a></li>
        </ul>
        <div style="clear:both;"></div>
    </div>
</section>
